@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
}

<div class="text-center">
  <form method="POST">
    <label for="origen" class="form-label">Origen:</label>
    <select name="origen" class="form-control" required>
      <option value="">Selecciona el origen</option>
      @foreach (var estacion in Model.Estaciones)
      {
        <option value="@estacion.id">@estacion.nombre</option>
      }
    </select>
    <label for="destino" class="form-label">Destino:</label>
    <select name="destino" class="form-control" required asp-for="Ruta.destino">
      <option value="">Selecciona el destino</option>
      @foreach (var estacion in Model.Estaciones)
      {
        <option value="@estacion.id">@estacion.nombre</option>
      }
    </select>
    <span class="text-danger" asp-validation-for="Ruta.destino"></span> <br>
    <label for="tiempo_estimado" class="form-label">Tiempo Estimado:</label>
    <input type="number" class="form-control" placeholder="Tiempo Estimado" required name="tiempo_estimado">
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>