@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Coordenada X</th>
      <th scope="col">Coordenada Y</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Centro</td>
      <td>Cra 27</td>
      <td>7.145</td>
      <td>70.145</td>
      <td>Principal</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Estadio</td>
      <td>Cra 270</td>
      <td>71.145</td>
      <td>10.145</td>
      <td>Principal</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Terminal</td>
      <td>Calle 2</td>
      <td>6.145</td>
      <td>10.145</td>
      <td>Segundaria</td>
    </tr>
  </tbody>
</table>